$card-background-color: #0e0e0e5e;
$card-text-shadow-color: #0f0f0faf;
$card-border-color: #736cce3f;
$card-border-shadow-color: #0f0f0fc2;
$card-border-inset-shadow-color: #736cce13;
$cursor-glow-radius: 18rem;

.card {
  position: relative;
  padding: 1rem 1.5rem 1.5rem;
  background-color: transparent;
  border: 1px solid $card-border-color;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem $card-border-shadow-color;
  overflow: hidden;
  clip-path: inset(0 0 0 0 round 0.5rem) !important;
  border-radius: 0.5rem;
  h1,
  h2,
  h3 {
    margin-top: 0;
    text-shadow: 2px 3px 20px $card-text-shadow-color;
  }
  p {
    margin-bottom: 0;
  }
  .card-bg {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    z-index: -1;
    clip-path: inset(0 0 0 0 round 0.5rem) !important;
    &::before {
      clip-path: inset(0 0 0 0 round 0.5rem) !important;
      border-radius: 0.5rem;
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background: url("/assets/texture.png");
      // -webkit-mask-image: radial-gradient(
      //   circle,
      //   rgba(0, 0, 0, 0.5),
      //   rgba(0, 0, 0, 0)
      // );
      // mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      // decrease brightness
      opacity: 0.17;
      z-index: -1;
      // inset shadow
    }
    &::before {
      clip-path: inset(0 0 0 0 round 0.5rem) !important;
      border-radius: 0.5rem;
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $card-background-color;
      z-index: -1;
      box-shadow: inset 0 0 0.5rem $card-border-inset-shadow-color;
    }
  }
}

.active-glow {
  .general-bg {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $card-background-color;
    backdrop-filter: blur(10px);
    z-index: -1;
    clip-path: inset(0 0 0 0);
  }
  clip-path: inset(0 0 0 0);
  &:after {
    width: calc($cursor-glow-radius * 2);
    height: calc($cursor-glow-radius * 2);
    left: calc($cursor-glow-radius * -1);
    top: calc($cursor-glow-radius * -1);
    display: block;
    position: fixed;
    pointer-events: none;
    // radial gradient soft glow
    background: radial-gradient(
      circle,
      rgba(190, 141, 255, 0.158) 0%,
      transparent 40%
    );
    // blur filter
    filter: blur(calc($cursor-glow-radius * 0.33));
    overflow: hidden;
    content: "";
    z-index: 10;
    transform: translate3d(var(--mouse-x), var(--mouse-y), 0);
    // disable if mobile
    @media (max-width: 768px) {
      display: none;
    }
  }
}
