.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  & > * {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

:global(.grid-list-container) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
  :global(.card) {
    flex: 1;
    margin: 0;
    min-width: max(12rem, 25%);
  }
  // if mobile
  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    :global(.card) {
      flex: unset;
      min-width: unset;
      margin-bottom: 1rem;
    }
  }
}

.grid-mode {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  :global(.card) {
    margin: 0;
  }
  // if mobile
  @media (max-width: 920px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
