.tech-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  h3 {
    margin: 0;
    margin-left: 0.25rem;
    font-weight: 300;
    font-family: "Inconsolata", "monospace", sans-serif;
    font-size: 1rem;
    cursor: default;
    transition: text-shadow 0.125s ease-in-out;
  }
  svg,
  img {
    transition: filter 0.125s ease-in-out;
  }

  &:hover {
    svg,
    img {
      filter: drop-shadow(0px 0px 10px #bb9de4b2);
    }
    h3 {
      text-shadow: 0px 0px 10px #bb9de4b2;
    }
  }
}
.tech-list-item-icon {
  height: 1.5rem;
  width: 2rem;
  svg {
    height: 90%;
    width: 70%;
    cursor: default;
  }
  cursor: default;
}
