@import "styles/colors.scss";

:root {
  font-family: "Geologica", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  font-family: "Geologica", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  color: $fg-color;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #736cce3f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8c85ee;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a9a3f8;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: $bg-color;
  color: $fg-color;
  overflow-y: scroll;
  overflow-x: hidden;
}

#content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 8rem;
  overflow: hidden;
}

@media (max-width: 1024px) {
  #content {
    padding: 0 5rem;
  }
}

@media (max-width: 768px) {
  #content {
    padding: 0 3rem;
  }
}

@media (max-width: 480px) {
  #content {
    padding: 0 1.5rem;
  }
}
